/** CSS Styles */

#getting-started .intro {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}

#getting-started .card {
  border-radius: 0;
  margin-bottom: 5rem;
}

#getting-started a {
  color: inherit;
}

#getting-started .list {
  margin: 0 2rem !important;
}

#getting-started main {
  text-align: center;
}

#getting-started h2 {
  text-align: center;
}

#example-1 {
    color: #fff;
    text-align: center;
  }

  #example-1 .flex {
    margin-bottom: 16px;
  }

img{
  height: 40px;
  width: 150px;
}

.world{
  color:#FFF;
}

#footer{
  background-color: rgb(0, 0, 102);
  height: 12%;
}

#imagem-header{
  margin-left: 40%;

}